.travel {
  cursor: pointer;
  width: fit-content;
  height: 200px;
  padding: 15px 15px;
  border-radius: 15px;
  background-color: #7633ff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: flex;
  flex-direction: column;

  position: relative;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.period {
  font-size: larger;
  font-weight: 300;
  color: #e5e5e5;
  margin-bottom: 20px;
  text-decoration: underline;
}

.description {
  font-size: 2rem;
  text-align: justify;
}

.remove {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  position: absolute;
  top: calc(-25px / 3);
  right: calc(-25px / 3);
  z-index: 5;
}

.remove:hover {
  filter: brightness(0.8);
}

.link {
  margin-top: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  color: #fff;
}

.link:hover {
  filter: brightness(0.75);
}
