.travel {
  cursor: pointer;
  width: fit-content;
  padding: 15px 15px;
  border-radius: 15px;

  background-color: #7633ff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;

  display: flex;
  flex-direction: column;
}

.travel:hover {
  filter: brightness(0.8);
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.period {
  font-weight: 300;
  color: #e5e5e5;
  margin-bottom: 20px;
  text-decoration: underline;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}
