.item {
  cursor: pointer;
  width: fit-content;
  padding: 15px 25px;
  border-radius: 15px;

  background-color: #7633ff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;

  display: flex;
  flex-direction: column;

  position: relative;
}

.city {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.period {
  font-weight: 300;
}

.budget {
  font-weight: 600;
}

.remove {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  position: absolute;
  top: calc(-25px / 3);
  right: calc(-25px / 3);
  z-index: 5;
}

.remove:hover {
  filter: brightness(0.8);
}
