@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body,
#root {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

button,
input,
select,
hr {
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
