.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.btnContainer {
  height: 100%;
}

.btn {
  width: 30px;
  height: 30px;

  transition: all ease 0.3s;
  cursor: pointer;

  background: linear-gradient(to right, #7633ff, #481d9e);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
}
